* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 80%;
    margin: 0 auto;
}

/* title and description style */
header {
    margin-block: 50px;
}

.title {
    text-align: center;
    color: #E53170;
}

.description {
    text-align: center;
}

section:first-child {
    margin-bottom: 50px;
}

/* -----CARDS STYLE----- */

/* clearfix floats */
.container::after {
    content: "";
    display: table;
    clear: both;
}

/* cards style */
.card {
    float: left;
    background-color: black;
    box-shadow: 0 0 7px #00000050;
    width: calc((100%/3) - 25px);
}

img {
    float: left;
    width: 100px;
    margin-right: 15px;
}

.card-margin {
    margin-right: 30px;
}

/* row style */
.row {
    margin-bottom: 30px;
}

/* cards' text style */

h3 {
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
}

h6 {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
}

.card a {
    text-decoration: none;
    color: #4FCDE7;
}

.card div {
    padding-top: 10px;
}

h3,
h6 {
    margin-bottom: 10px;
}